{% extends 'base.html' %}
{% load form_tags %}
{% block title %}
  <title>Admin</title>
{% endblock %}
{% block content %}

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Role: {{request.user.utilisateur.role}}</h6>
        </div>
        <div class="mt-3 text-left">
            <button type="submit"><a href="{% url 'register' %}" class="text-decoration-none">Nouveau</a> </button>
        </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Utilisateur</th>
                                <th>Role</th>
                                <th>Modifier</th>
                                <th>Supprimer</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Utilisateur</th>
                                <th>Role</th>
                                <th>Modifier</th>
                                <th>Supprimer</th>
                            </tr>
                        </tfoot>
                        <tbody>
                              {% for utilisateur in utilisateurs %}
                                <tr>
                                    <td>{{ utilisateur.user.username }}</td>
                                    <td>{{ utilisateur.role }}</td>
                                     <td>
                                      <button type="submit"><a href="{% url 'modifier_utilisateur' utilisateur.id %}">Modifier</a></button>
                                    </td>
                                    <td>
                                       <button type="submit"><a href="{% url 'supprimer_utilisateur' utilisateur.id %}">Supprimer</a></button>
                                    </td>
                                </tr>
                              {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
{% endblock %}