{% extends 'base.html' %}
{% load form_tags %}
{% block title %}
  <title>Admin</title>
{% endblock %}
{% block content %}

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Role: {{request.user.utilisateur.role}}</h6>
        </div>
            <div class="card-body">
                     <div class="row">
                         <div class="col-sm-12 col-md-4">
                             <div class="dataTables_length" id="dataTable_length">
                                 <label>Show <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select></label>
                             </div>
                         </div>
                         <div class="col-sm-12 col-md-4">
                             <div id="dataTable_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label>
                             </div>
                         </div>
                         <div class="col-sm-12 col-md-4">
                             <div  class="dataTables_filter"><label>Nouveau:<a href="{% url 'register' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm form-control form-control-sm">Nouveau-Utilisateur</a></label>
                             </div>
                         </div>
                     </div>
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Utilisateur</th>
                                <th>Role</th>
                                <th>Log</th>
                                <th>Modifier</th>
                                <th>Supprimer</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Utilisateur</th>
                                <th>Role</th>
                                <th>Log</th>
                                <th>Modifier</th>
                                <th>Supprimer</th>
                            </tr>
                        </tfoot>
                        <tbody>
                              {% for utilisateur in utilisateurs %}
                                <tr>
                                    <td>{{ utilisateur.user.username }}</td>
                                    <td>{{ utilisateur.role }}</td>
                                    <td>{{ utilisateur.user.last_login }}</td>
                                     <td>

                                      <a href="{% url 'modifier_utilisateur' utilisateur.id %}" class="btn btn-info btn-icon-split"><span class="text">Modifier</span></a>
                                    </td>
                                    <td>
                                       <a href="{% url 'supprimer_utilisateur' utilisateur.id %}" class="btn btn-danger btn-icon-split"><span class="text">Supprimer</span></a>
                                    </td>
                                </tr>
                              {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
{% endblock %}