{% extends 'base.html' %}
{% load form_tags %}
{% block title %}
  <title>Detail_fac</title>
{% endblock %}
{% block content %}
     <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">{{ client.nom }}</h6>
        </div>
            <div class="card-body">
                     <div class="row">
                         <div class="col-sm-12 col-md-4">
                             <div class="dataTables_length" id="dataTable_length">
                                 <form method="GET" action="">
                                     <div id="dataTable_filter" class="dataTables_filter">
                                         <label>Search:<input type="text" value="{{ query|default:'' }}" name="rech" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label>
                                         <button type="submit" class="btn btn-secondary">Rechercher</button>
                                     </div>
                                 </form>
                             </div>
                         </div>
                         <div class="col-sm-12 col-md-4">

                         </div>
                         <div class="col-sm-12 col-md-4">
                             <div  class="dataTables_filter">
                                 <label>Nouveau:
                                     <a href="{% url 'registerclient' %}" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm form-control form-control-sm">
                                         Nouveau-Client
                                     </a>
                                 </label>
                             </div>
                         </div>
                     </div>
                <div class="table-responsive">
                    {% if descriptions %}
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Detail</th>
                                <th>Quantité</th>
                                <th>Prix</th>
                                <th>Total</th>
                                <th>Modifier</th>
                                <th>Suppression</th>
                            </tr>
                        </thead>
                        <tbody>
                              {% for desc in descriptions %}
                                <tr>
                                    <td>{{ desc.detail }}</td>
                                    <td>{{ desc.qt }}</td>
                                    <td>{{ desc.prix }}</td>
                                    <td>{{ desc.total }}</td>
                                     <td>
                                      <a href="{% url 'editclient' client.id %}" class="btn btn-warning btn-icon-split"><span class="text">Detail</span></a>
                                    </td>
                                    <td>
                                      <a href="{% url 'editclient' client.id %}" class="btn btn-info btn-icon-split"><span class="text">Modifier</span></a>
                                    </td>
                                    {% if user.is_authenticated and user.is_superuser %}
                                        <td>
                                            <a href="{% url 'suppclient' client.id %}" class="btn btn-danger btn-icon-split"><span class="text">Supprimer</span></a>
                                         </td>
                                    {% endif %}

                                </tr>
                              {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <p>Aucun client trouvé pour "{{ query}}"</p>
                    {% endif %}
                </div>
            </div>
    </div>
{% endblock %}