{% extends 'base.html' %}
{% load form_tags %}
{% block title %}
  <title>Liste_Fac</title>
{% endblock %}
{% block content %}
     <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h3 class="m-0 font-weight-bold text-primary">FACTURATION</h3>
            <h6 class="m-0 font-weight-bold text-primary">{{ client.nom }}</h6>
        </div>
            <div class="card-body">
                     <div class="row">
                         <div class="col-sm-12 col-md-4">
                             <div class="dataTables_length" id="dataTable_length">
                                 <form method="GET" action="">
                                     <div id="dataTable_filter" class="dataTables_filter">
                                         <label>Search:<input type="text" value="{{ query|default:'' }}" name="rech" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label>
                                         <button type="submit" class="btn btn-secondary">Rechercher</button>
                                     </div>
                                 </form>
                             </div>
                         </div>
                         <div class="col-sm-12 col-md-4">

                         </div>
                         <div class="col-sm-12 col-md-4">
                             <div  class="dataTables_filter">
                                 <label>Nouveau:
                                     <form  method="post">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <button type="submit" class="btn btn-primary">💾 Enregistrer la facture</button>
                                    </form>
                                 </label>
                             </div>
                         </div>
                     </div>
                <div class="table-responsive">
                    {% if factures %}
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Total</th>
                                <th>Acompte</th>
                                <th>Reste</th>
                                <th>Remise</th>
                                <th>Detail</th>
                                <th>Modifier</th>
                                  {% if user.is_authenticated and user.is_superuser %}
                                    <th>Suppression</th>
                                  {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                              {% for facture in factures %}
                                <tr>
                                    <td>{{ facture.date }}</td>
                                    <td>{{ facture.total_payer }}</td>
                                    <td>{{ facture.acompte }}</td>
                                    <td>{{ facture.reste }}</td>
                                    <td>{{ facture.remise }}</td>
                                     <td>
                                      <a href="#" class="btn btn-warning btn-icon-split"><span class="text">Detail</span></a>
                                    </td>
                                    <td>
                                      <a href="{% url 'editclient' client.id %}" class="btn btn-info btn-icon-split"><span class="text">Modifier</span></a>
                                    </td>
                                    {% if user.is_authenticated and user.is_superuser %}
                                        <td>
                                            <a href="{% url 'suppclient' client.id %}" class="btn btn-danger btn-icon-split"><span class="text">Supprimer</span></a>
                                         </td>
                                    {% endif %}

                                </tr>
                              {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <p>Aucune Facture trouvé</p>
                    {% endif %}
                </div>
            </div>
    </div>
{% endblock %}